
  <div class="container">
    <div class="header d-flex">
        <div class="avatar-img">
          <% if @user.photo.attached? %>
            <%= cl_image_tag @user.photo.key, class: "avatar-profile" %>
          <% else %>
            <%= image_tag "avatar.png", class: "avatar-profile" %>
          <% end %>
        </div>
        <div class="profile-information">
          <h4><%= @user.first_name %> <%= @user.last_name %></h4>
          <p>Books in Library: <%= @user.books.count %><br>
          Highlights: <%= @user.highlights.count %><br>
          Following : <%= Favorite.for_favoritor(@user).where(favoritable_type: "User").count%>&nbsp;&nbsp; | &nbsp;
          Followers : <%= Favorite.for_favoritable(@user).where(favoritable_type: "User").count%> &nbsp;&nbsp; | &nbsp;
          <%= link_to follow_path(@user), data: {turbo_method: :patch } do %>
                <% if current_user.favorited?(@user) %>
                  <input type="submit" name="commit" value="Unfollow">
                <% else %>
                  <input type="submit" name="commit" value="+ Follow">
                <% end %>
              <% end %>
        </div><br></p>
        <hr class="hr m-4" />
        <div class="profile-information-actions">
        </div>
    </div>
    <div class="recently-added">
      <div class="cards-added">
        <% @user.books.each do |my_book| %>
          <%= link_to friend_books_path(@user, my_book), class:"text-decoration-none cards-clickable d-flex justify-content-center" do %>
            <div class="card-book recent">
              <% if my_book.cover.attached? %>
                <%= cl_image_tag my_book.cover.key, crop: :fill %>
              <% else %>
                <%= image_tag "covers/cover-#{my_book.default_cover}.png", id: "book-cover-show" %>
              <% end %>
              <div class="card-book-recently-added">
                <h4> <%= my_book.title %> </h4>
                <p> <%= my_book.author.name %> </p>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
