<div class="container">
  <%= render "shared/searchusers" %></div><br>
  <div class="container-social mb-5">
    <% @users.each do |user| %>
      <div class="d-flex">
      <%= link_to friend_path(user) do %>
        <div class="cards-social d-flex">
          <div class="cards-social-avatar">
              <% if user.photo.attached? %>
                <%= cl_image_tag user.photo.key, class: "avatar-social" %>
              <% else %>
                <%= image_tag "avatar.png", class: "avatar-social" %>
              <% end %>
          </div>
          <div class="cards-social-content d-flex">
            <div class="cards-social-user-info">
              <h4> <%= user.first_name %> <%= user.last_name %> </h4>
              <p> Books: <%= user.books.count %> </p>
              <p> Highlights: <%= user.highlights.count %> </p>
                Books recently added: <% user.books.last(3).each do |book| %>
                  <p class="user-books"> <%= book.title %> -  </p>
                <% end %>
            </div>
            <div class="friend-follow">
              <%= link_to follow_path(user), data: {turbo_method: :patch } do %>
                <% if current_user.favorited?(user) %>
                  <input type="submit" name="commit" value="Unfollow">
                <% else %>
                  <input type="submit" name="commit" value="+ Follow">
                <% end %>
              <% end %>
            <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
