
  <div class="container-profile">
    <div class="header d-flex">
        <div class="avatar-img">
          <% if current_user.photo.attached? %>
            <%= cl_image_tag current_user.photo.key, class: "avatar-profile" %>
          <% else %>
            <%= image_tag "avatar.png", class: "avatar-profile" %>
          <% end %>
        </div>
        <div class="profile-information">
          <h4><%= current_user.first_name %> <%= current_user.last_name %></h4>
          <p>Books in Library: <%= current_user.books.count %><br>
          Highlights: <%= current_user.highlights.count %><br>
          Following : <%= Favorite.for_favoritor(current_user).where(favoritable_type: "User").count%>&nbsp;&nbsp; | &nbsp;
          Followers : <%= Favorite.for_favoritable(current_user).where(favoritable_type: "User").count%><br></p>

        </div>
        <hr class="hr m-4" />
        <div class="profile-information-actions">
        </div>
    </div>
    <div class="recently-added">
      <div class="cards-added">
        <% current_user.books.each do |my_book| %>
          <%= link_to friend_books_path(current_user, my_book), class:"text-decoration-none cards-clickable d-flex justify-content-center" do %>
            <div class="card-book recent">
              <% if my_book.cover.attached? %>
                <%= cl_image_tag my_book.cover.key, crop: :fill %>
              <% else %>
                <%= image_tag "covers/cover-#{my_book.default_cover}.png", id: "book-cover-show" %>
              <% end %>
              <div class="card-book-recently-added">
                <h4> <%= my_book.title %> </h4>
                <p> <%= my_book.author.name %> </p>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
