<div class="wrapper">
  <div class="sidebar">
    <div class="friend-profile-link" id="friend-box">
      <div class="avatar-book-img">
        <% @user = User.find(params[:user_id]) %>
          <% if @user.photo.attached? %>
            <%= cl_image_tag @user.photo.key, class: "avatar-book" %>
          <% else %>
            <%= image_tag "avatar.png", class: "avatar-book" %>
          <% end %>
      </div>
      <div class="user-name">
        <%= @user.first_name %> <%= @user.last_name %><br>
        <a href="/friends/<%=@user.id%>" class="back text-decoration-none"><i class="fa-solid fa-arrow-left"></i>&nbsp;&nbsp;Back</a>
      </div>
    </div>
    <div class="friend-profile-link">
      <div class="friend-book-cover">
        <% if @book.cover.attached? %>
          <%= cl_image_tag @book.cover.key, crop: :fill %>
        <% else %>
          <%= image_tag "covers/cover-#{@book.default_cover}.png", id: "book-cover-show" %>
        <% end %>
      </div>
      <div class="friend-book-info">
        <h2><%= @book.title %></h2>
        <h5><%= @book.author.name %><%= @book.published_date ? " (#{@book.published_date})" : ""%></h5>
      </div>
    </div>
  </div>

  <div class="main">
    <div class="col-sm">
      <div class="container-quotes mb-5">
        <% @book.highlights.each do |highlight| %>
          <div class="cards-quotes" data-controller="clip">
            <i class="quotes fa-solid fa-quote-left"></i>
            <div class="card-quote-content">
              <p class="" data-clip-target="item"><%= highlight.quote %> </p>
              <h5 class="d-flex justify-content-end"> p. <%= highlight.page %> </h5>
              <i class="fe fe-heart"></i>
            </div>
            <div class="cards-quotes-actions d-flex justify-content-between">
              <div class="tags d-inline-flex">
              </div>
              <div class="icons">
                <i data-action="click->clip#copy" class="icon fa-regular fa-clone"></i>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
