<div class="container justify-content-center">
  <table>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Author</th>
      <th class="table-number">Highlights</th>
      <th class="table-number">Created</th>
      <th class="table-number">Updated</th>
      <th class="table-number">Remove</th>
      <th class="table-number">Edit</th>
    </tr>
    <% current_user.books.each do |book| %>
      <tr>
        <td>
        <% if book.cover.attached? %>
          <%= cl_image_tag book.cover.key, crop: :fill, id: "book-cover-manage" %>
        <% else %>
          <%= image_tag "covers/cover-#{book.default_cover}.png", id: "book-cover-manage" %>
        <% end %></td>
        <td><%= link_to book.title, book_path(book), id:"title"%></td>
        <td><%= book.author.name %></td>
        <td class="table-number"><%= book.highlights.count %></td>
        <td class="table-number"><%= book.updated_at.strftime("%m/%d/%Y") %></td>
        <td class="table-number"><%= book.created_at.strftime("%m/%d/%Y") %></td>
        <td class="table-number"><%= link_to '<i class="fa-regular fa-trash-can"></i>'.html_safe, book, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></td>
        <td class="table-number"><%= link_to '<i class="fa-regular fa-pen-to-square"></i>'.html_safe, edit_book_path(book) %></td>
      </tr>
    <% end %>
  </table>
</div>
