<div class="tags d-inline-flex">
  <% highlight.hi_tags.each do |hi_tag| %>
    <div class="tag-card text-decoration-none">
      <div class="<%= hi_tag.tag.color %> x-pic">
        <%= link_to hi_tag_path(hi_tag), data: {turbo_method: :delete, turbo_confirm: "Do you want to delete it?", id:"delete", class:"text-decoration-none"} do %>
          <div class="editt"><i class="fa-regular fa-circle-xmark"></i></div>
        <% end %>
        <p><%= hi_tag.tag.name %></p>
      </div>
    </div>
  <% end %>
</div>
<%= simple_form_for [highlight, HiTag.new], class: "form", html: {class: "d-none form-inline", data: {edit_tag_target:"form"}} do |f| %>
  <div class="flexbox-class">
    <%= f.input :tag, label: false, collection: current_user.tags, include_hidden: false, wrapper_html: {class: "mb-0"}  %>
    <%= f.submit "+", class: 'add-tag' %>
  </div>
<% end %>
