<div class="container">
  <%= render "shared/searchquotes" %></div><br>
  <div class="container-quotes">
    <% @highlights.each do |highlight| %>
      <div class="cards-quotes">
        <i class="quotes fa-solid fa-quote-left"></i>
        <div class="card-quote-content">
          <p> <%= highlight.quote %> </p>
          <h5 class="d-flex justify-content-end"> p. <%= highlight.page %> </h5>
        </div>
        <div class="cards-quotes-actions d-flex justify-content-between">
          <div class="tags d-inline-flex">
            <% highlight.tags.each do |tag| %>
            <div class="tag-card">
              <div class="<%=tag.color%>">
              <p><%= tag.name %></p>
              </div>
            </div>
            <% end %>
          </div>
          <div class="icons">
            <i class="icon fa-solid fa-tag"></i>
            <i class="icon fa-regular fa-heart"></i>
            <i class="icon fa-regular fa-comment"></i>
            <i class="icon fa-regular fa-trash-can"></i>
            <i class="icon fa-regular fa-clone"></i>
          </div>
        </div>
      </div>
    <% end %>
    <a class="top-link hide" href="" id="js-top">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 6"><path d="M12 6H0l6-6z"/></svg>
      <span class="screen-reader-text">Back to top</span>
    </a>
  </div>
</div>


<script>
const scrollToTopButton = document.getElementById('js-top');
const scrollFunc = () => {
  // Get the current scroll value
  let y = window.scrollY;

  // If the scroll value is greater than the window height, let's add a class to the scroll-to-top button to show it!
  if (y > 0) {
    scrollToTopButton.className = "top-link show";
  } else {
    scrollToTopButton.className = "top-link hide";
  }
};

window.addEventListener("scroll", scrollFunc);

const scrollToTop = () => {
  // Let's set a variable for the number of pixels we are from the top of the document.
  const c = document.documentElement.scrollTop || document.body.scrollTop;

  // If that number is greater than 0, we'll scroll back to 0, or the top of the document.
  // We'll also animate that scroll with requestAnimationFrame:
  // https://developer.mozilla.org/en-US/docs/Web/API/window/requestAnimationFrame
  if (c > 0) {
    // window.requestAnimationFrame(scrollToTop);
    // ScrollTo takes an x and a y coordinate.
    // Increase the '10' value to get a smoother/slower scroll!
    window.scrollTo(0, c - c / 1);
  }
};

// When the button is clicked, run our ScrolltoTop function above!
scrollToTopButton.onclick = function(e) {
  e.preventDefault();
  scrollToTop();
}
</script>
