<!DOCTYPE html>
<html>
  <head>
    <title>hi-light</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="path/to/css/feathericon.min.css">
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>
  <body>
    <header>
      <%= render "shared/navbar" %>
    </header>
    <main>
      <div class="page-container">
        <div class="content-container">
          <%= yield %>
        </div>
      </div>
      <div class="footer-container">
        <%= render "shared/footer" %>
      </div>
      <%= render "shared/flashes"%>
    </main>
  </body>
</html>
